<h3> 产品使用体验分享 </h3>
<hr>

<%= simple_form_for [@product, @comment] do |comment| %>

<%= comment.input :content, :input_html => { :label => '留言内容:' }   %>

  <%= comment.submit "确认",  class: "btn btn-primary", data: { disable_with: "Submitting..."}  %>
<% end %>
