<h3> 产品使用体验分享 </h3>
<hr>

<%= simple_form_for [@product, @comment] do |comment| %>

<%= comment.input :content, :input_html => { :wrap => :soft, :rows => 6}, :label => '留言内容:', :label_html => { :class => 'type' }   %>

  <%= comment.submit "确认",  class: "btn btn-primary", data: { disable_with: "Submitting..."}  %>
<% end %>
