<!-- index封面图 -->
<div class="jumbotron">
     <h1 class="title">LOOK look</h1>
     <p class="slogan">你可否真正的熟悉你自己
     <br>
     从LOOK look开始，了解你的五官
     <br>
      轻松焕颜
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">开始寻找妆容</a></p>
</div>
<!-- 介绍页 -->
<div class="row">
    <div class="landing-page-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="tagline text-center">SHOP THE LOOK</h3>
              <p class="col-md-6 col-md-offset-3 text-center tagp">
                从最基本的日常；职场；party三种基本妆容开始。 <br>
                教你与千名美妆会员一起感受蜕变，告别单调生活。
                当季最热卖实用单品，一键式购买。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 妆容图片轮播 -->
<div
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="javascript:;">
      <img src="http://i4.buimg.com/1949/903da0b5b90b1cfa.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="http://i4.buimg.com/1949/cde30ff22b4619fc.jpg">
      <span style="position: absolute; top: 0; left: 0;">
        <div class="about">
            <h3 class="block-title block-title-big block-title-underlined">
                <a href="/" class="navigation-link">
                  <strong>SMOKY LOOK</strong>
                </a>
            </h3>
            <p>烟熏诱惑，纵情眼绎。使用MAKE UP FOR EVER彩妆单品打造一款迷离的经典烟熏眼妆。</p>
            <span class="button button-c"><a href="http://www.makeupforever.cn/learn/looks/SMOKY LOOK/" class="navigation-link"><span>查看时尚妆容</span></a></span>
        </div>
      </span>
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="http://i4.buimg.com/1949/05baf2068c275d8c.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="http://i4.buimg.com/1949/a64680dcdce4ba70.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
  </div>
</div>
