<!-- index封面图 -->
<div class="jumbotron">
     <h1 class="title">LOOK look</h1>
     <p class="slogan">你可否真正的熟悉你自己
     <br>
     从LOOK look开始，了解你的五官
     <br>
      轻松焕颜
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">开始寻找妆容</a></p>
</div>
<!-- 妆容图片轮播 -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="javascript:;">
      <img src="http://i4.buimg.com/1949/903da0b5b90b1cfa.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="http://i4.buimg.com/1949/cde30ff22b4619fc.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="http://i4.buimg.com/1949/05baf2068c275d8c.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="http://i4.buimg.com/1949/a64680dcdce4ba70.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
  </div>
</div>
