/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed; /* <-- Look here */
  right: 0;
  left: 0;
}

// product/show  //
.show-picture {
  margin-top:30px;
}
.show-photo-xsmall-box{
  height:80px;
  width:400px;
}
.show-photo-xsmall-box.nav-tabs {
  margin-top: 15px;
}

.show-photo-xsmall-box.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.show-photo-xsmall-box.nav-tabs li a {
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;

}
.show-photo-xsmall-box.nav-tabs li:last-of-type {
  margin-right: 0;
}
