/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);
// @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');

/* color info

#F44336
#E91E63
#9C27B0
#673AB7
#3F51B5
#2196F3
#03A9F4
#00BCD4
#009688
#4CAF50
#8BC34A
#CDDC39

#FFEB3B
#FFC107
#FF9800
#FF5722
#795548

#7ac049
*/


body {
     font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
     color: #9E9E9E;                                        // 修改全站的字体主色 压低亮度
     background-color: #000;
     position: relative;
     margin-bottom: 100px; /* 一定要和footer的高度一致 */
     min-height: 100%;
     }

 footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 30px;
   margin-bottom: -100px;
   z-index: 1000 /* 确保页面滑动的时候，字体不会从上面滑下去 */
 }
.search-bar {
   padding-top: 5px;
   padding-right: 20px;
   height: 60px;
  font-size: 24px;
 }

.navbar-default {
    background-color: #000000;
    border-color: #020202;
    height: 62px;
    margin-bottom: 0px;
}

.navbar-nav>li>a:hover{
  color: #ff5722;
}



.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #FF5722
}

.dropdown:hover .links {
    color: #FF5722;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #FF5722;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}
//----首页背景-----
// .jumbotron {
//   background-image:url('http://i1.piimg.com/1949/82461e7c806e2709.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding-bottom: 110px;
// }
.container-fluid .jumbotron{
  background-image:url('http://i1.piimg.com/1949/82461e7c806e2709.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 73px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: auto;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}

.center-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron .title {
  // font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: left;
  margin-top: 200px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: left;
  color: white;
}
//----图片轮播------

.tagline {
  letter-spacing: 3px;
}
.carousel {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.carousel .item {
  height: 375px;
}

.about {
  position:absolute;
  top:70px;
  right:65px;
  width:420px;
  padding:10px;
  background:#333;
  opacity:.8;
  color:#fff;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
// .carousel,
// .item,
// .active {
//     height: 100%;
//     margin-bottom: 60px;
// }
//
// .carousel-inner {
//     height: 100%;
// }
// .outside {
// width: 100%;
//  height: 100%;
//  background-position: center;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  background-size: cover;
//  -o-background-size: cover;
// }
// .follow {
// width: 50%;
//  height: 50%;
//  background-position: center;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  background-size: cover;
//  -o-background-size: cover;
// }
//
// .about {
//   position:absolute;
//   top:70px;
//   right:65px;
//   width:420px;
//   padding:10px;
//   background:#333;
//   opacity:.8;
//   color:#fff;
// }

//----妆容----

//----推荐商品----
.button-c {
  padding-left: 88px;
  padding-top: 20px;
}
.block-title {
  padding-left: 88px;
  padding-top: ‒20;
  padding-top: 20px;
}
.introduce-tex {
  padding-left: 88px;
  padding-top: 20px;
  font-size: 28px;
}

//----彩妆大师---
.master-page-mid
.landing-page-mid {
  float: none;
  margin: 0 auto;
  margin-top: 15px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.team-player {
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-player ul {
    font-size: 13px;
  	list-style-type: none;
  	margin-left: 0;
  	padding-left: 0;
    padding-right: 35px;
  	margin-top: 15px;
    }

// .title {
//     margin-top: 20px;
//     margin-bottom: 30px;
//   }

.team {
  padding-bottom: 90px;
  margin-bottom: 90;
}

.box {
  padding-left: 90px;
  display:inline-block;
  width:auto;
}
.content {
  padding-left: 90px;
}

.img {
  width: 100%;
  float: center;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

.facepanel {

      background-image: image-url("header.jpg");

      background-repeat: no-repeat;

      background-size: cover;

      margin-bottom: 50px;
}


// ----分类页面可分类查看-----
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 12.5%;
    left: 46.5%;
    height: 45px;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
