
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-2 col-xs-4">
            <h4>彩妆资讯</h4>
            <ul class="list-unstyled">
              <li><a href="/products/group">最新商品</a></li>
              <li><a href="#">最in妆容</a></li>
              <li><a href="#">品牌分类</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>购买须知</h4>
            <ul class="list-unstyled">
              <li><a href="#">运送规则</a></li>
              <li><a href="#">退货方式</a></li>
              <li><a href="#">常见问题</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>关于我们</h4>
            <ul class="list-unstyled">
              <li><a href="#">品牌故事</a></li>
              <li><a href="#">媒体报导</a></li>
              <li><a href="#">关于我们</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <br/>
            <h4><i class="fa fa-heart"></i> JDStore</h4>
            <ul class="list-unstyled">
              <br>Design by Johnson Liang & Yan Xiaoyu
              <br/>
              Copyright ©2017 JDStore</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
